<h1>Pelna Lista</h1>

<table>
  <thead>
    <tr>
      <th>Kod</th>
      <th>Jezyk</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        <td><%= gist.snippet %></td>
        <td><%= gist.lang %></td>
        <td><%= gist.description %></td>
        <td><%= link_to 'Pokaz', gist %></td>
        <td><%= link_to 'Edytuj', edit_gist_path(gist) %></td>
        <td><%= link_to 'Usun', gist, method: :delete, data: { confirm: 'Czy jesteś przekonany,ze chcesz usunac ten wpis?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="infinite-scrolling">
  <%= will_paginate %>
</div>
<br>

<%= link_to 'Dodaj nowa notke', new_gist_path %>
