<p id="notice"><%= notice %></p>
<p>
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>
<p>
  <strong>Kod:</strong>
</p>
<%= raw @gist.snippet,@gist.lang %>
<p>
  <strong>Opis:</strong>
  <%= @gist.description %>
</p>
<%= link_to 'Wroc do edycji', edit_gist_path(@gist) %> |
<%= link_to 'Wroc do listy', gists_path %>
